.project-body{
    width:100%;
    height: 660px;
    background: #75AF96;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .95;
}

.project-body > img{
    width: 40%;
}

.project-context {
    width: 55%; 
    height: 40%;
    background: green;
    display: flex;
    font-size: 120%;
    overflow: scroll;
}