.project-body{
    width:100%;
    height: 950px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .95;
}
.project-context {
    width: 90%; 
    height: 35%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
}

.project-carousel{
    height: 50%;
    width: 60%;
}


@media(min-width: 415px){
    .project-context{
        width: 90%;
        height: 35%;
    }
    .project-carousel{
        height: 45%;
        width: 55%;
    }
}

@media(min-width: 500px){
    .project-context{
        width: 90%;
        height: 30%;
    }
    .project-carousel{
        height: 40%;
        width: 45%;
    }
}

@media(min-width: 620px){
    .project-context{
        width: 90%;
        height: 30%;
    }
    .project-carousel{
        height: 35%;
        width: 35%;
    }
}

@media(min-width: 700px){
    /* .project-context{
        width: 90%;
        height: 35%;
    } */
    .project-carousel{
        height: 30%;
        width: 25%;
    }
}

@media(min-width: 820px){
    .project-context{
        width: 90%;
        font-size: 100%;
    }
    .project-carousel{
        height: 25%;
        width: 25%;
    }
}

@media(min-width: 900px){
    .project-context{
        width: 90%;
        height: 25%;
    }
    .project-carousel{
        height: 20%;
        width: 22%;
    }
}