.project-body{
    width:100%;
    height: 950px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .95;
}
.project-context {
    width: 90%; 
    height: 40%;
    display: flex;
    flex-direction: column;
    font-size: 120%;
    font-family: 'Open Sans Condensed', sans-serif;
}

.project-carousel{
    /* position: relative; */
    height: 50%;
    width: 50%;
}


@media(min-width: 415px){
    .project-context{
        width: 90%;
        font-size: 100%;
    }
    .project-carousel{
        width: 60%;
        height: 40%;
        /* bottom: 300px; */
    }
}

@media(min-width: 620px){
    .project-context{
        width: 90%;
        font-size: 100%;
    }
    .project-carousel{
        width: 50%;
        height: 40%;
        bottom: 300px;
    }
}


@media(min-width: 820px){
    .project-context{
        width: 90%;
        font-size: 100%;
    }
    .project-carousel{
        width: 40%;
        height: 40%;
        bottom: 300px;
    }
}