.about-body{
    width:100%;
    height: 580px;
    padding-top: 70px;
    opacity: .92;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #78ac97;
}

.about-content{
    font-size: 80%;
    align-items: center;
    width: 70%;
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
}


@media(min-width: 415px){
    .about-content{
        font-size: 85%;
    }
}

@media(min-width: 620px){
    .about-content{
        font-size: 100%;
        padding-top: 50px;
    }
}

@media(min-width: 820px){
    .about-content{
        font-size: 115%;
        padding-top: 50px;
    }
}

/* @media(min-width: 1000px){
    .about-content{
        font-size: 150%;
        padding-top: 50px;
    }
}

@media(min-width: 1300px){
    .about-content{
        font-size: 180%;
        padding-top: 50px;
    }
} */