.skills-content{
    width:100%;
    height: 374px;
    padding-top: 70px;
    padding-bottom: 40px;
    background: #b4a382;
    opacity: .40;
    display: flex;
    flex-wrap: wrap;
}

.skills-div{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80%;
}

.skills-div > img{
    width: 50%;
}

@media(min-width: 415px){
    .skills-div{
        font-size: 80%;
    }
    .skills-div > img{
        width: 60%;
    }  
}

@media(min-width: 620px){
    .skills-div{
        font-size: 100%;
    }
    .skills-div > img{
        width: 80%;
    }
    .skills-content{
        height: 418px;
    }
}

@media(min-width: 820px){
    .skills-div{
        font-size: 120%;
    }
    .skills-div > img{
        width: 90%;
    }
    .skills-content{
        height: 660px;
        align-items: center;
        flex-wrap: nowrap;
    }
}